{% extends 'base.html' %} {% block body %}

<!-- <div class="container"> -->
  <div class="row">
    {% for a in all_news %}
    <div class="col-sm-12 col-md-4 col-xs-12 col-lg-3 mt-4 px-4">
      <!-- {{a.news_title}}<br />
      {{a.post_time}}<br />
      {{a.sub_title}}<br />
      <img src="media/{{a.news_image}}" /><br />
      {{a.news_discription}}<br />
      {{a.news_slug}}<br /> -->

      <div class="card" style="width: 18rem">
        <img src="media/{{a.news_image}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{a.news_title}}</h5>
          <p class="card-text">{{a.sub_title}}</p>
          <a href="{{a.news_slug}}" class="btn btn-primary ">View All</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock body %}
